/* ? _COTAINER-HERO_ */
.container-hero {
  height: 35rem;
  .box-hero {
    margin: 0 auto;
  }
}
.hero-content {
  width: 100%;
  .hero-h1 {
    width: 100%;
    font-size: var(--step-4);
    animation: zoomIn;
    animation-duration: 1.5s;
    & i {
      color: var(--cl-grey);
    }
  }
  .hero-p {
    width: 100%;
    font-weight: bold;
    animation: slideInLeft;
    animation-duration: 2s;
  }
}
.hero-button {
  width: 60%;
}
.hero-img {
  animation: zoomIn;
  animation-duration: 2.5s;
  & img {
    max-width: calc(var(--step-6) * 6);
  }
}

/* ? _ICON_ */
.card-item {
  padding: 0.8rem;
  background-color: var(--cl-white);
}
.card-icon {
  & img {
    max-width: calc(var(--step--1) * 1.4);
  }
  & p {
    margin-top: 0.5rem;
    font-weight: bold;
  }
}

/* ? _LINEA_ */
.dav-line {
  border-bottom: 0.2rem solid var(--cl-grey);
  margin: 0.2rem 0;
  width: 30%;
}

/* ? _BOTONES_ */
.dav-button {
  border-radius: 0.5rem;
  padding: 0.6rem;
  font-size: var(--step-0);
  color: var(--cl-white);
  box-shadow: var(--shadow);
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    transition: all 0.7s ease;
  }
}
.dav-button-p {
  background-color: var(--cl-grey);
}
.dav-button-s {
  border: 0.1rem solid var(--cl-white);
}

.dav-href {
  border-bottom: solid 0.15rem var(--cl-green);
  color: var(--cl-blue);
}

/* ? _EFECTOS_ */
.dav-efect {
  transition: 1.5s ease-in-out;
}
.dav-link:hover {
  transform: scale(1.1);
  transition: all 0.7s ease;
}
.border-neo {
  box-shadow: var(--shadow);
}

/* * _FORMULARIOS_ */
.form {
  padding: 1rem;
}
.form-label {
  padding: 0.2rem;
  font-size: var(--step-1);
  font-weight: bold;
  display: block;
  cursor: pointer;
}
.form-group-input {
  position: relative;
}
.form-input {
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  transition: 0.3s ease all;
  background-color: #fff;
  &:focus {
    border: 0.15rem solid var(--cl-grey);
    outline: none;
    box-shadow: 0.2rem 0rem 1.9rem rgba(163, 163, 163, 0.4);
  }
}
.form-input-state {
  right: 0.63rem;
  bottom: 0.94rem;
  z-index: 100;
  font-size: var(--step--1);
  position: absolute;
  opacity: 0;
}
/*.form-input-state-x,
.form-input-state-check {
  opacity: 0;
}*/
.form-input-error {
  margin-bottom: 0;
  font-size: var(--step--1);
  color: var(--cl-red);
  display: none;
}
.form-input-error-active {
  display: block;
}
.form-alert {
  padding: 0.5rem;
  border-radius: 0.5rem;
  height: 2.5rem;
  line-height: 3rem;
  display: none;
  color: var(--cl-white);
  background-color: var(--cl-grey);
  & p {
    font-weight: bold;
  }
}
.form-alert-active {
  display: block;
}
.forn-btn {
  background-color: var(--cl-grey);
}
.form-success {
  margin-top: 0.2rem;
  font-size: var(--step-1);
  display: none;
}
.form-success-active {
  display: block;
}

.form-input-state-check .form-input-state {
  content: "&#10004";
  opacity: 1;
}
.form-input-correct .form-input {
  border: 0.2rem solid var(--cl-blue);
  opacity: 1;
}

.form-input-state-x .form-input-state {
  content: "&#10060";
  opacity: 1;
}
.form-input-incorrect .form-input {
  border: 0.2rem solid var(--cl-red);
  opacity: 1;
}
